<h2><%= @volunteer_role.name %> Volunteers</h2>

<p>Welcome to your volunteers! These people have requested to volunteer for your role.</p>

<p>Please contact them as soon as possible, and then mark them as 'contacted' so that we know that you have. We may pester you otherwise!</p>

<p>If you have confirmed that they will be volunteering with you, then mark them as confirmed. Otherwise you can remove them from this list.</p>

<p>Feel free to contact your volunteers however you want. Email, whatsapp, facebook, post. You can <%= link_to 'download a CSV', event_volunteer_role_volunteers_path(@event, @volunteer_role, format: :csv) %> of this list if that's helpful.</p>

<p>If you have any questions, reach out to the Volunteers Team via <a href="mailto:volunteers@londondecom.org">volunteers@londondecom.org</a>.</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Comments</th>
    <th>State</th>
    <th>Next State</th>
    <th></th>
  </tr>
  <% @volunteers.each do |volunteer| %>
    <% cache volunteer do %>
      <tr>
        <td class="align-middle"><%= volunteer.user.name %></td>
        <td class="align-middle"><%= volunteer.user.email %></td>
        <td class="align-middle"><%= volunteer.phone %></td>
        <td class="align-middle"><%= volunteer.additional_comments %></td>
        <td class="align-middle">
          <%= volunteer.state %>
        </td>
        <td class="align-middle">
          <% if volunteer.next_state %>
            <%= form_for [@event, @volunteer_role, volunteer] do |form| %>
              <%= form.hidden_field :state, value: volunteer.next_state %>
              <%= form.submit "Mark as #{volunteer.next_state}", class: "btn btn-primary w-100" %>
            <% end %>
          <% end %>
        </td>
        <td class="align-middle">
          <%= form_for [@event, @volunteer_role, volunteer], method: :delete do |form| %>
            <%= form.submit "remove", data: {confirm: 'Are you sure?'}, class: "btn btn-danger w-100"  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
