<h2><%= t('.title', position: @volunteer_role.name) %></h2>

<p><%= t('.welcome') %></p>
<p><%= t('.contact_notice') %></p>
<p><%= t('.update_status') %></p>
<p><%= t('.contact_html', volunteer_list_link: (link_to t('.download_csv'), event_volunteer_role_volunteers_path(@event, @volunteer_role, format: :csv))) %></p>

<table class="table">
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.email') %></th>
    <th><%= t('.phone') %></th>
    <th><%= t('.comments') %></th>
    <th><%= t('.state') %></th>
    <th></th>
    <th></th>
  </tr>
  <% @volunteers.each do |volunteer| %>
    <tr>
      <td><%= volunteer.user.name %></td>
      <td><%= volunteer.user.email %></td>
      <td><%= volunteer.phone %></td>
      <td><%= volunteer.additional_comments %></td>
      <td><%= volunteer.state %></td>
      <td>
        <% if volunteer.next_state %>
          <%= form_for [@event, @volunteer_role, volunteer] do |form| %>
            <%= form.hidden_field :state, value: volunteer.next_state %>
            <%= form.submit t('.mark_as', state: volunteer.next_state) %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= form_for [@event, @volunteer_role, volunteer], method: :delete do |form| %>
          <%= form.submit t('.remove'), data: {confirm: t('.are_you_sure')} %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
