<h2>Signup to volunteer for <%= @volunteer_role.name %></h2>

<%= simple_format @volunteer_role.description %>

<%= bootstrap_form_for [@event, @volunteer_role, @volunteer] do |form| %>
  <%= form.phone_field :phone, label: 'Phone number (optional)' %>
  <%= form.text_area :additional_comments %>
  <%= form.check_box :accept_code_of_conduct, label: 'I agree to the <a href="https://londondecom.org/code-of-conduct/">Decom Code of Conduct</a>'.html_safe %>
  <%= form.check_box :accept_health_and_safety, label: 'I confirm that I\'ve read the <a href="https://drive.google.com/file/d/1WKf7nU6sA6Ktz8TWDmv0vUEc2KVGHnDE/view?usp=share_link">Decom Health and Safety Guidelines</a>'.html_safe %>
  <br />
  <%= form.submit 'Volunteer' %>
<% end %>
