<h2><%= t('.title', position: @volunteer_role.name) %></h2>

<%= simple_format @volunteer_role.description %>

<%= bootstrap_form_for [@event, @volunteer_role, @volunteer] do |form| %>
  <%= form.phone_field :phone, label: t('.phone_number') %>
  <%= form.text_area :additional_comments %>
  <%= form.check_box :accept_code_of_conduct, label: t('.code_of_conduct_html') %>
  <%= form.check_box :accept_health_and_safety, label: t('.health_and_safety_html') %>
  <br />
  <%= form.submit t('.volunteer') %>
<% end %>
