<h2>Join London Decompression</h2>

<p>
  London Decompression is a members owned organisation.
  You need to be a member of London Decompression to buy tickets to events.
  Membership is free.
</p>

<p>
  <%= link_to "Log in if you're already a member.", new_user_session_path %>
</p>

<h3>Sign up</h3>
<%= bootstrap_form_for(@user, url: registration_path(@user)) do |f| %>
  <%= f.email_field :email, label: 'Email address', autofocus: true, autocomplete: 'email' %>
  <%= f.text_field :name %>
  <%= f.password_field :password, autocomplete: 'current-password' %>
  <%= f.check_box :accept_principles, label: 'I have read and am prepared to take into consideration <a href="https://burningman.org/culture/philosophical-center/10-principles/" target="_blank">the principles of Burning Man</a>'.html_safe %>
  <%= f.check_box :accept_code_of_conduct, label: ' I have read and agree to abide by the London Decompression <a href="https://tinyurl.com/londondecom-codeofconduct" target="_blank">Volunteers and Participants Code of Conduct</a>'.html_safe %>
  <%= f.check_box :accept_health_and_safety, label: ' I have read and agree to abide by the London Decompression <a href="https://tinyurl.com/londondecom-healthsafety" target="_blank">Health and Safety Guidelines</a>'.html_safe %>
  <%= f.check_box :accept_no_ticket, label: 'I understand that being a member of London Decompression does not automatically qualify me to receive tickets to London Decompression events.  These must be bought separately, and are only available to London Decompression members.' %>
  <%= f.check_box :accept_emails, label: 'I agree to receive emails from London Decompression letting me know when tickets to London Decompression events are available.' %>
  <%= f.check_box :marketing_opt_in, label: 'I agree to receive emails from third parties relating to other burner events and activities. (optional)' %>
  <p><br/>
    By signing up you are joining London Decompression as a member.
  </p>
  <%= f.submit 'Sign up' %>
<% end %>

<p>
  Questions? Email us at <%= link_to 'members@londondecom.org', 'mailto:members@londondecom.org' %>
</p>
