<h2><%= t('.join') %></h2>

<p><%= t('.intro_text_members_owned') %></p>
<p><%= t('.intro_text_members_requirement') %></p>
<p><%= t('.intro_text_membership_free') %></p>

<p>
  <%= link_to t('.login'), new_user_session_path %>
</p>

<h3><%= t('.sign_up') %></h3>
<%= bootstrap_form_for(@user, url: registration_path(@user)) do |f| %>
  <%= f.email_field :email, label: t('.email_address'), autofocus: true, autocomplete: 'email' %>
  <%= f.text_field :name, label: t('.full_name') %>
  <%= f.password_field :password, autocomplete: 'current-password' %>
  <%= f.check_box :accept_principles, label: t('.accept_principles_html') %>
  <%= f.check_box :accept_code_of_conduct, label: t('.accept_code_of_conduct_html') %>
  <%= f.check_box :accept_health_and_safety, label: t('.accept_health_and_safety_html') %>
  <%= f.check_box :accept_no_ticket, label: t('.accept_no_ticket') %>
  <%= f.check_box :accept_emails, label: t('.accept_emails') %>
  <%= flash[:recaptcha_error] %>
  <%= recaptcha_v3(action: 'signup') %>
  <p>
    <br/>
    <%= t('.agreement') %>
  </p>
  <div class="d-grid gap-2">
    <%= f.submit t('.sign_up'), class: "btn btn-secondary btn-block" %>
  </div>
<% end %>

<p>
  <%= link_to t('.no_confirmation_email'), new_user_confirmation_path %>
</p>

<p>
  <%= t('.questions') %> <%= link_to 'members@londondecom.org', 'mailto:members@londondecom.org' %>
</p>
