<% if @event %>
  <%= render partial: '/events/event' %>
<% else %>
  <h1 style="text-align: center;"><%= t('.intro_text_user', user: current_user.name) %></h1>
  <p><%= t('.intro_text_paragraph_1') %></p>
  <p><%= t('.intro_text_paragraph_2') %></p>
  <p><%= t('.intro_text_paragraph_3_html') %></p>
<% end %>

<hr />

<% if current_user.low_income_request %>
  <% if current_user.low_income_request.status == 'approved' %>
    <p>t('.low_income_request_approved')</p>
  <% elsif current_user.low_income_request.status == 'rejected' %>
    <p>t('.low_income_request_rejected')</p>
  <% else %>
    <p>t('.low_income_request_no_status')</p>
  <% end %>
<% end %>
