<h2>Hello <%= current_user.name %>!</h2>

<% if current_event.live? %>
  <% if current_event.available_tickets_for_code(current_user.membership_number) > 0 %>
    <p>
      <% if current_event.tickets_sold_for_code(current_user.membership_number) > 0 %>
        You have already bought
        <%= pluralize(current_event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>.
        You can buy
        <%= pluralize(current_event.available_tickets_for_code(current_user.membership_number), 'more ticket') %>.
      <% else %>
        You can buy
        <%= pluralize(current_event.available_tickets_for_code(current_user.membership_number), 'ticket') %>.
      <% end %>
    </p>
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
    <script type="text/javascript">
        var exampleCallback = function() {
          location.reload();
        };

        window.EBWidgets.createWidget({
            widgetType: 'checkout',
            eventId: <%= current_event.id %>,
            modal: true,
            modalTriggerElementId: 'eventbrite-buy-link',
            onOrderComplete: exampleCallback,
            promoCode: '<%= current_user.membership_number %>'
        });
    </script>
    <button id="eventbrite-buy-link" type="button" class="btn btn-primary">Buy Tickets</button>
  <% else %>
    <p>
      You have bought the
      <%= pluralize(current_event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>
      available to you.
    </p>
  <% end %>
<% else %>
  Tickets are not on sale yet. We'll notify you by email when they are.
<% end %>

<hr />

<h2>Sign up to volunteer</h2>

<p>We will soon be opening up registrations to volunteer. We'll notify you by email when we do.</p>
