<h1><%= @event.name %></h1>

<% if @event.available_tickets_for_code(current_user.membership_number) > 0 %>
  <p>
    <% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
      You have already bought
      <%= pluralize(@event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>.
      You can buy
      <%= pluralize(@event.available_tickets_for_code(current_user.membership_number), 'more ticket') %>.
    <% else %>
      You can buy
      <%= pluralize(@event.available_tickets_for_code(current_user.membership_number), 'ticket') %>.
    <% end %>
  </p>
  <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
  <script type="text/javascript">
      var modalCloseCallback = function() {
        location.reload();
      };

      window.EBWidgets.createWidget({
          widgetType: 'checkout',
          eventId: <%= @event.eventbrite_id %>,
          modal: true,
          modalTriggerElementId: 'eventbrite-buy-link',
          onWidgetModalClose: modalCloseCallback,
          promoCode: '<%= current_user.membership_number %>'
      });
  </script>
  <button id="eventbrite-buy-link" type="button" class="btn btn-primary">
    Buy
    <%= 'Ticket'.pluralize(@event.available_tickets_for_code(current_user.membership_number)) %>
  </button>
<% else %>
  <p>
    You have bought the
    <%= pluralize(@event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>
    available to you. Look below to see how you can participate.
  </p>
<% end %>

<% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
  <hr />
  <% if current_user.volunteers.any? %>
    <h2>You've signed up to volunteer for:</h2>

    <div class="list-group">
      <% current_user.volunteers.each do |volunteer| %>
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <h5><%= volunteer.volunteer_role.name %></h5>
            <% if volunteer.state == 'confirmed' %>
              <p>You are confirmed as a volunteer</p>
            <% elsif volunteer.state == 'contacted' %>
              <p>You have been contacted by a lead</p>
            <% else %>
              <p>The leads for this role should be in contact with you very soon.</p>
            <% end %>
            <%= link_to 'cancel', event_volunteer_role_volunteer_path(@event, volunteer.volunteer_role, volunteer), method: :delete, data: {confirm: 'Are you sure?'} %>
            <% if volunteer.lead? %>
              <p>
                You are a lead for this role:
                <%= link_to 'view volunteers', event_volunteer_role_volunteers_path(@event, volunteer.volunteer_role) %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>

      <hr />
  <% end %>

  <% if current_user.volunteers.any? %>
    <h2>Have you more to give?</h2>

    <p>You can apply for more than one role if you like.</p>
  <% else %>
    <h2>Sign up to participate</h2>

    <p>Congratulations, you’ve got your ticket for Decom! Now how would you like to participate? Participation and Communal Effort are two of the 10 Burning Man principles, and volunteering at the event is the perfect way to get into the spirit of the event as well as give the Gift of your time back to your Decompression community.</p>

    <p>There’s opportunities to get involved before the day, on the day in the creation of the venue and throughout the event from entry to strike with a special shout out for those both willing and able to do some sober hours.</p>

    <p>We welcome and respect the stranger with no prerequisites for participation, so take a little look and see what tickles your fancy - shifts are usually 2 hours long, so fear not - plenty of time left to party!</p>
  <% end %>

  <div class="list-group">
    <% @volunteer_roles.each do |volunteer_role| %>
      <a href="<%= new_event_volunteer_role_volunteer_path(@event, volunteer_role) %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
        <div>
          <h5><%= volunteer_role.name %></h5>
          <%= simple_format volunteer_role.brief_description %>
        </div>
        <span class="badge badge-primary badge-pill">Sign up now</span>
      </a>
    <% end %>
  </div>
<% end %>
