<h1><%= @event.name %></h1>

<% if @event.prerelease? && !current_user.early_access %>
  <p>
    <% if @event.ticket_sale_start_date.nil? %>
      Tickets for our next event will be available to buy here soon, watch this space!
    <% else %>
      Tickets for our next event will be available to buy here on <%= @event.ticket_sale_start_date.to_fs(:decom_standard) %> (GMT).
    <% end %>
  </p>
<% elsif @event.live? || current_user.early_access %>
  <% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
    <p>
      You have bought the
      <%= pluralize(@event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>
      available to you. Look below to see how you can participate.
    </p>
  <% else %>
    <p>
      <% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
        You have already bought
        <%= pluralize(@event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>.
        You can buy
        <%= pluralize(@event.available_tickets_for_code(current_user.membership_number), 'more ticket') %>.
      <% else %>
        You can buy
        <%= pluralize(@event.available_tickets_for_code(current_user.membership_number), 'ticket') %>.
      <% end %>
    </p>
    <button id="eventbrite-buy-link" type="button" class="btn btn-primary">
      Buy <%= 'Ticket'.pluralize(@event.available_tickets_for_code(current_user.membership_number)) %>
    </button>
    <p><i class="text-muted">By obtaining a ticket, whether purchased directly, gifted, resold or transferred in any way, I consent to my personal information (including sensitive personal data) being processed in line with the Data Protection Act. I consent for this information to be used for event operation, event safety, community safeguarding and consent related purposes including the sharing of information with third parties for these purposes. Where applicable, third parties are also subject to relevant data protection legislation.</i></p>
  <% end %>
<% end %>

<% if @event.tickets_sold_for_code(current_user.membership_number) == 0 %>
  <%= render partial: '/tickets/low_income' %>

  <% if @event.live? || current_user.early_access %>
    <p>
      <strong>
        Bought a transferred ticket and can't see the volunteer opportunities on this page? Drop an email to <a href="mailto:members@londondecom.org">members@londondecom.org</a> and we'll sort you out!
      </strong>
    </p>
  <% end %>
<% end %>

<p>Looking to volunteer? We now have a <%= link_to 'dedicated page', event_volunteering_index_path(@event) %> for volunteering during London Decompression!</p>

<hr>

<h2>Here is the crucial info</h2>
<% if @event.theme_image_url.present? %>
  <%= image_tag @event.theme_image_url, style: 'width: 100%;' %>
<% end %>

<div class="row mt-3">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <h3><strong><%= @event.name %>: <%= @event.theme %></strong></h3>
    <%= simple_format(@event.theme_details) %>
  </div>

  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <p><strong>Where:</strong> <%= @event.location %></p>
    <p><strong>Map:</strong> <%= link_to 'Google Maps Location', @event.maps_location_url, target: '_blank' %></p>
    <% if @event.eventbrite_event.eventbrite_event.start.local.nil? %>
      <p><strong>When:</strong> <%= simple_format(@event.event_timings) %></p>
    <% else %>
      <p><strong>When:</strong> <%= @event.eventbrite_start_time.strftime("%A %d %B %Y") %> GMT <%= simple_format(@event.event_timings) %></p>
    <% end %>
    <p><strong>Further Information:</strong> <%= @event.further_information %></p>
    <p><strong>Ticket Information:</strong></p>
    <p>
      <%= simple_format(@event.ticket_price_info) %>
      <%= render partial: '/tickets/low_income' %>
    </p>
    <p><%= simple_format(@event.ticket_information, {}, { sanitize_options: { attributes: %w[target href] }}) %></p>
  </div>
</div>

<% if current_user.ticket_type != :general || @event.available_tickets_for_code(current_user.membership_number) > 0 %>
<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
<script type="text/javascript">
    var orderCompleteCallback = function() {
      const request = $.ajax({
        type: 'PATCH',
        url: "/events/<%= @event.id %>/clear_discount_from_cache?eventbrite_id=<%= @event.eventbrite_id %>&code=<%= current_user.membership_number %>"
      });
      request.done((response) => {
        location.reload();
      });
    };

    window.EBWidgets.createWidget({
      widgetType: 'checkout',
      eventId: <%= @event.eventbrite_id %>,
      modal: true,
      modalTriggerElementId: 'eventbrite-buy-link',
      onOrderComplete: orderCompleteCallback,
      promoCode: '<%= current_user.membership_number %>'
    });
</script>
<% end %>
