<h1><%= @event.name %></h1>

<% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
  <p>
    <%= t('.ticket_brought_count', count: @event.tickets_sold_for_code(current_user.membership_number)) %>
  </p>
<% elsif current_user.ticket_type != :general %>
  <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
  <button id="eventbrite-buy-link" type="button" class="btn btn-primary">
    <%= t('.buy_ticket', count: @event.available_tickets_for_code(current_user.membership_number)) %>
  </button>
  <script type="text/javascript">
      var modalCloseCallback = function() {
        location.reload();
      };

      window.EBWidgets.createWidget({
          widgetType: 'checkout',
          eventId: <%= @event.eventbrite_id %>,
          modal: true,
          modalTriggerElementId: 'eventbrite-buy-link',
          onWidgetModalClose: modalCloseCallback,
          promoCode: '<%= current_user.membership_number %>'
      });
  </script>
<% else %>
  <p>
    <%= t('.event_sold_out', event_name: @event.name) %>
    <%= link_to t('.resale_thread'), "https://www.facebook.com/events/606272201206574?post_id=645474913952969&view=permalink" %>
  </p>
<% end %>

<% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
  <hr />
  <% if current_user.volunteers_for_event(@event).any? %>
    <h2><%= t('.roles_signed_up_for') %></h2>

    <div class="list-group">
      <% current_user.volunteers_for_event(@event).each do |volunteer| %>
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <h5><%= volunteer.volunteer_role.name %></h5>
            <% if volunteer.lead? %>
              <p>
                <%= t('.user_is_lead') %>
              </p>
              <%= link_to t('.view_volunteers'), event_volunteer_role_volunteers_path(@event, volunteer.volunteer_role), class: "btn btn-secondary" %>
            <% else %>
              <% if volunteer.state == 'confirmed' %>
                <p><%= t('.volunteer_state_confirmed') %></p>
              <% elsif volunteer.state == 'contacted' %>
                <p><%= t('.volunteer_state_contacted') %></p>
              <% else %>
                <p><%= t('.volunteer_state_unknown') %></p>
              <% end %>
            <% end %>
            <%= link_to t('.remove_self'), event_volunteer_role_volunteer_path(@event, volunteer.volunteer_role, volunteer), method: :delete, data: {confirm: t('.are_you_sure')}, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>

      <hr />
  <% end %>

  <% if current_user.volunteers_for_event(@event).any? %>
    <h2><%= t('.more_to_give') %></h2>
    <p><%= t('.more_to_give_detail_text') %></p>
  <% else %>
    <h2><%= t('.signup_to_participate') %></h2>
    <p><%= t('.signup_to_participate_details_1') %></p>
    <p><%= t('.signup_to_participate_details_2') %></p>
    <p><%= t('.signup_to_participate_details_3') %></p>
  <% end %>

  <div class="list-group">
    <% @volunteer_roles.each do |volunteer_role| %>
      <a href="<%= new_event_volunteer_role_volunteer_path(@event, volunteer_role) %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
        <div>
          <h5><%= volunteer_role.name %></h5>
          <%= simple_format volunteer_role.brief_description %>
        </div>
        <span class="badge badge-primary badge-pill"><%= t('.sign_up') %></span>
      </a>
    <% end %>
  </div>
<% end %>

<p><%= t('.questions_about_volunteering_html') %></p>
