<h1><%= @event.name %></h1>

<p>
  <% if @event.prerelease? && !current_user.early_access %>
    <% if @event.ticket_sale_start_date.nil? %>
      Tickets for our next event will be available to buy here soon, watch this space!.
    <% else %>
      Tickets for our next event will be available to buy here on <%= @event.ticket_sale_start_date.strftime("%d/%m/%Y at %I:%M:%S %p") %> (GMT).
    <% end %>
  <% elsif @event.live? || current_user.early_access %>
    <% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
      <p>
        You have bought the
        <%= pluralize(@event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>
        available to you. Look below to see how you can participate.
      </p>
    <% elsif current_user.ticket_type != :general %>
      <button id="eventbrite-buy-link" type="button" class="btn btn-primary">
        Buy
        <%= 'Ticket'.pluralize(@event.available_tickets_for_code(current_user.membership_number)) %>
      </button>
      <p><i class="text-muted">By obtaining a ticket, whether purchased directly, gifted, resold or transferred in any way, I consent to my personal information (including sensitive personal data) being processed in line with the Data Protection Act. I consent for this information to be used for event operation, event safety, community safeguarding and consent related purposes including the sharing of information with third parties for these purposes. Where applicable, third parties are also subject to relevant data protection legislation.</i></p>

    <% else %>
      <p style="margin-bottom: 0">
        <% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
          You have already bought
          <%= pluralize(@event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>.
          You can buy
          <%= pluralize(@event.available_tickets_for_code(current_user.membership_number), 'more ticket') %>.
        <% else %>
          You can buy
          <%= pluralize(@event.available_tickets_for_code(current_user.membership_number), 'ticket') %>.
        <% end %>
      </p>
      <button id="eventbrite-buy-link" type="button" class="btn btn-primary">
        Buy
        <%= 'Ticket'.pluralize(@event.available_tickets_for_code(current_user.membership_number)) %>
      </button>
      <p><i class="text-muted">By obtaining a ticket, whether purchased directly, gifted, resold or transferred in any way, I consent to my personal information (including sensitive personal data) being processed in line with the Data Protection Act. I consent for this information to be used for event operation, event safety, community safeguarding and consent related purposes including the sharing of information with third parties for these purposes. Where applicable, third parties are also subject to relevant data protection legislation.</i></p>
    <% end %>
  <% end %>

  <%= render partial: '/tickets/low_income' %>

  <% if @event.tickets_sold_for_code(current_user.membership_number) == 0 %>
    <p>
      <strong>
        Bought a transferred ticket and can't see the volunteer opportunities on this page? Please take a look at this <a href="https://docs.google.com/spreadsheets/d/1to8qMKOF28LkOl4k6tLN7P-LjJbQhzcJ9d0FWAnodLk/edit#gid=0">volunteer doc</a> which lists all the roles we're still recruiting for.
        <br/><br/>
        Any questions, please email <a href="mailto:volunteers@londondecom.org">volunteers@londondecom.org</a>.
      </strong>
    </p>
  <% end %>
</p>

<% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
  <hr />
  <% if current_user.volunteers_for_event(@event).any? %>
    <h2>You've signed up to volunteer for:</h2>

    <div class="list-group">
      <% current_user.volunteers_for_event(@event).each do |volunteer| %>
        <% cache volunteer do %>
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <h5><%= volunteer.volunteer_role.name %></h5>
              <% if volunteer.state == 'confirmed' %>
                <p>You are confirmed as a volunteer</p>
              <% elsif volunteer.state == 'contacted' %>
                <p>You have been contacted by a lead</p>
              <% else %>
                <p>The leads for this role should be in contact with you very soon.</p>
              <% end %>
              <%= link_to 'Click here to remove yourself from this role', event_volunteer_role_volunteer_path(@event, volunteer.volunteer_role, volunteer), method: :delete, data: {confirm: 'Are you sure?'} %>
              <% if volunteer.lead? %>
                <p>
                  You are a lead for this role:
                  <%= link_to 'view volunteers', event_volunteer_role_volunteers_path(@event, volunteer.volunteer_role) %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <hr />
  <% end %>

  <% if current_user.volunteers_for_event(@event).any? %>
    <h2>Have you more to give?</h2>
    <p>You can apply for more than one role if you like.</p>
  <% else %>
    <h2>Volunteer opportunities</h2>
    <p>Congratulations, you've got your ticket for Decom!</p>
    <p>Now, which team would you like to gift some of your time to? ;&#41;</p>
  <% end %>

  <div class="list-group">
    <% @volunteer_roles.each do |volunteer_role| %>
      <% cache volunteer_role do %>
        <div class="row border">
          <div class="col-8">
            <h5><%= volunteer_role.name %></h5>
            <%= simple_format volunteer_role.brief_description %>
          </div>
          <div class="col-4 d-flex justify-content-end" style="align-items: start; padding-top: 5px">
            <a href="<%= new_event_volunteer_role_volunteer_path(@event, volunteer_role) %>" class="btn btn-primary">Volunteer</a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <br />
  <p>If you have any questions about volunteering, feel free to email <a href="mailto:volunteers@londondecom.org">volunteers@londondecom.org</a></p>
<% end %>

<hr>

<p>Here is the crucial info</p>
<% if @event.theme_image_url.present? %>
  <%= image_tag @event.theme_image_url, style: 'width: 100%;' %>
<% end %>

<div class="row mt-3">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <p><strong><%= @event.name %>: <%= @event.theme %></strong></p>
    <%= simple_format(@event.theme_details) %>
  </div>

  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <p><strong>Where:</strong> <%= @event.location %></p>
    <p><strong>Map:</strong> <%= link_to 'Google Maps Location', @event.maps_location_url %></p>
    <% if @event.eventbrite_event.eventbrite_event.start.local.nil? %>
      <p><strong>When:</strong> <%= simple_format(@event.event_timings) %></p>
    <% else %>
      <p><strong>When:</strong> <%= @event.eventbrite_start_time.strftime("%A %d %B %Y") %> GMT <%= simple_format(@event.event_timings) %></p>
    <% end %>
    <p><strong>Further Information:</strong> <%= @event.further_information %></p>
    <p><strong>Ticket Information:</strong></p>
    <p>
      <%= simple_format(@event.ticket_price_info) %>
      <%= render partial: '/tickets/low_income' %>
    </p>
    <p><%= simple_format(@event.ticket_information) %></p>
  </div>
</div>

<p>If you have any questions about volunteering, feel free to email <a href="mailto:volunteers@londondecom.org">volunteers@londondecom.org</a></p>

<% if current_user.ticket_type != :general || @event.available_tickets_for_code(current_user.membership_number) > 0 %>
<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
<script type="text/javascript">
    var orderCompleteCallback = function() {
      const request = $.ajax({
        type: 'PATCH',
        url: "/events/<%= @event.id %>/clear_discount_from_cache?eventbrite_id=<%= @event.eventbrite_id %>&code=<%= current_user.membership_number %>"
      });
      request.done((response) => {
        location.reload();
      });
    };

    window.EBWidgets.createWidget({
      widgetType: 'checkout',
      eventId: <%= @event.eventbrite_id %>,
      modal: true,
      modalTriggerElementId: 'eventbrite-buy-link',
      onOrderComplete: orderCompleteCallback,
      promoCode: '<%= current_user.membership_number %>'
    });
</script>
<% end %>
