<h1><%= @event.name %></h1>

<p>
  <% if @event.prerelease? && !current_user.early_access %>
    <% if @event.ticket_sale_start_date.nil? %>
      Tickets for our next event will be available to buy here soon, watch this space!.
    <% else %>
      Tickets for our next event will be available to buy here on <%= @event.ticket_sale_start_date.strftime("%d/%m/%Y at %I:%M:%S %p") %> (GMT).
    <% end %>
  <% elsif @event.live? || current_user.early_access %>
    <% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
      <p>
        You have bought the
        <%= pluralize(@event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>
        available to you. Look below to see how you can participate.
      </p>
    <% elsif current_user.ticket_type != :general %>
      <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
      <button id="eventbrite-buy-link" type="button" class="btn btn-primary">
        Buy
        <%= 'Ticket'.pluralize(@event.available_tickets_for_code(current_user.membership_number)) %>
      </button>
      <p><i class="text-muted">By obtaining a ticket, whether purchased directly, gifted, resold or transferred in any way, I consent to my personal information (including sensitive personal data) being processed in line with the Data Protection Act. I consent for this information to be used for event operation, event safety, community safeguarding and consent related purposes including the sharing of information with third parties for these purposes. Where applicable, third parties are also subject to relevant data protection legislation.</i></p>
      <script type="text/javascript">
          var modalCloseCallback = function() {
            location.reload();
          };

          window.EBWidgets.createWidget({
              widgetType: 'checkout',
              eventId: <%= @event.eventbrite_id %>,
              modal: true,
              modalTriggerElementId: 'eventbrite-buy-link',
              onWidgetModalClose: modalCloseCallback,
              promoCode: '<%= current_user.membership_number %>'
          });
      </script>
    <% else %>
      <p style="margin-bottom: 0">
        <% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
          You have already bought
          <%= pluralize(@event.tickets_sold_for_code(current_user.membership_number), 'ticket') %>.
          You can buy
          <%= pluralize(@event.available_tickets_for_code(current_user.membership_number), 'more ticket') %>.
        <% else %>
          You can buy
          <%= pluralize(@event.available_tickets_for_code(current_user.membership_number), 'ticket') %>.
        <% end %>
      </p>
      <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
      <script type="text/javascript">
          var modalCloseCallback = function() {
            location.reload();
          };

          window.EBWidgets.createWidget({
              widgetType: 'checkout',
              eventId: <%= @event.eventbrite_id %>,
              modal: true,
              modalTriggerElementId: 'eventbrite-buy-link',
              onWidgetModalClose: modalCloseCallback,
              promoCode: '<%= current_user.membership_number %>'
          });
      </script>
      <button id="eventbrite-buy-link" type="button" class="btn btn-primary">
        Buy
        <%= 'Ticket'.pluralize(@event.available_tickets_for_code(current_user.membership_number)) %>
      </button>
      <p><i class="text-muted">By obtaining a ticket, whether purchased directly, gifted, resold or transferred in any way, I consent to my personal information (including sensitive personal data) being processed in line with the Data Protection Act. I consent for this information to be used for event operation, event safety, community safeguarding and consent related purposes including the sharing of information with third parties for these purposes. Where applicable, third parties are also subject to relevant data protection legislation.</i></p>
    <% end %>
  <% end %>

  <%= render partial: '/tickets/low_income' %>
</p>

<% if @event.tickets_sold_for_code(current_user.membership_number) > 0 %>
  <hr />
  <% if current_user.volunteers_for_event(@event).any? %>
    <h2>You've signed up to volunteer for:</h2>

    <div class="list-group">
      <% current_user.volunteers_for_event(@event).each do |volunteer| %>
        <div class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <h5><%= volunteer.volunteer_role.name %></h5>
            <% if volunteer.state == 'confirmed' %>
              <p>You are confirmed as a volunteer</p>
            <% elsif volunteer.state == 'contacted' %>
              <p>You have been contacted by a lead</p>
            <% else %>
              <p>The leads for this role should be in contact with you very soon.</p>
            <% end %>
            <%= link_to 'Click here to remove yourself from this role', event_volunteer_role_volunteer_path(@event, volunteer.volunteer_role, volunteer), method: :delete, data: {confirm: 'Are you sure?'} %>
            <% if volunteer.lead? %>
              <p>
                You are a lead for this role:
                <%= link_to 'view volunteers', event_volunteer_role_volunteers_path(@event, volunteer.volunteer_role) %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>

      <hr />
  <% end %>

  <% if current_user.volunteers_for_event(@event).any? %>
    <h2>Have you more to give?</h2>

    <p>You can apply for more than one role if you like.</p>
  <% else %>
    <h2>Sign up to participate</h2>

    <p>Congratulations, you've got your ticket for Decom! Now how would you like to participate? Participation and Communal Effort are two of the 10 Burning Man principles, and volunteering at the event is the perfect way to get into the spirit of the event as well as give the Gift of your time back to your Decompression community.</p>

    <p>There's opportunities to get involved before the day, on the day in the creation of the venue and throughout the event from entry to strike with a special shout out for those both willing and able to do some sober hours.</p>

    <p>We welcome and respect the stranger with no prerequisites for participation, so take a little look and see what tickles your fancy - shifts are usually 2 hours long, so fear not - plenty of time left to party!</p>
  <% end %>

  <div class="list-group">
    <% @volunteer_roles.each do |volunteer_role| %>
      <a href="<%= new_event_volunteer_role_volunteer_path(@event, volunteer_role) %>" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
        <div>
          <h5><%= volunteer_role.name %></h5>
          <%= simple_format volunteer_role.brief_description %>
        </div>
        <span class="badge badge-primary badge-pill">Sign up now</span>
      </a>
    <% end %>
  </div>
<% end %>

<hr>

<p>Here is the crucial info</p>
<% if @event.theme_image_url? %>
  <%= image_tag @event.theme_image_url, style: 'width: 100%; height: 200px' %>
<% end %>

<div class="row mt-3">
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <p><b><%= @event.name %>: <%= @event.theme %></b></p>
    <%= simple_format(@event.theme_details) %>
  </div>

  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <p>Where: <%= @event.location %></p>
    <p>Map: <%= link_to 'Google Maps Location', @event.maps_location_url %></p>
    <% if @event.eventbrite_event.eventbrite_event.start.local.nil? %>
      <p>When: <%= simple_format(@event.event_timings) %></p>
    <% else %>
      <p>When: <%= Date.parse(@event.eventbrite_event.eventbrite_event.start.local).strftime("%A %d %B %Y") %> GMT <%= simple_format(@event.event_timings) %></p>
    <% end %>
    <p>Further Information: <%= @event.further_information %></p>
    <p>
      Standard ticket: £25 (+£2.80 booking fee)
      <br>
      Low income ticket: £15 (+£1.96 booking fee)
      <br>
      <%= render partial: '/tickets/low_income' %>
    </p>
    <p>
      One ticket per member - tell your friends to sign up as a member now :&#41;
    </p>
    <p>
      Once you have bought a ticket, you will be able to sign up for volunteer roles.
    </p>
  </div>
</div>

<p>If you have any questions about volunteering, feel free to email <a href="mailto:volunteers@londondecom.org">volunteers@londondecom.org</a></p>
