<%= LowIncomeRequest.where(status: 'approved').count %> requests approved so far.

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created</th>
    <th>Reason</th>
    <th>Status</th>
  </tr>
  <% @low_income_requests.each do |low_income_request| %>
    <% cache low_income_request do %>
      <tr>
        <td><%= low_income_request.user.name %></td>
        <td><%= low_income_request.user.email %></td>
        <td><%= low_income_request.created_at.to_s(:long) %></td>
        <td><%= low_income_request.request_reason %></td>
        <td>
          <% if low_income_request.status == 'approved' %>
            Approved
          <% elsif low_income_request.status == 'rejected' %>
            Rejected
          <% else %>
            <%= button_to 'Approve', approve_admin_low_income_request_path(low_income_request) %>
            <%= button_to 'Reject', reject_admin_low_income_request_path(low_income_request) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= paginate @low_income_requests, theme: 'twitter-bootstrap-4' %>
