<%= t('.approved_so_far', approved: LowIncomeRequest.where(status: 'approved').count) %>

<table class="table">
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.email') %></th>
    <th><%= t('.created') %></th>
    <th><%= t('.reason') %></th>
    <th><%= t('.status') %></th>
  </tr>
  <% @low_income_requests.each do |low_income_request| %>
    <tr>
      <td><%= low_income_request.user.name %></td>
      <td><%= low_income_request.user.email %></td>
      <td><%= low_income_request.created_at.to_s(:short) %></td>
      <td><%= low_income_request.request_reason %></td>
      <td>
        <% if low_income_request.status == 'approved' %>
          <%= t('.approved') %>
        <% elsif low_income_request.status == 'rejected' %>
          <%= t('.rejected') %>
        <% else %>
          <%= button_to t('.approve'), approve_admin_low_income_request_path(low_income_request) %>
          <%= button_to t('.reject'), reject_admin_low_income_request_path(low_income_request) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @low_income_requests, theme: 'twitter-bootstrap-4' %>
