<h1>Volunteer roles</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Brief descriptioin</th>
    <th>Description</th>
    <th>Priority</th>
    <th>Hidden</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @volunteer_roles.each do |volunteer_role| %>
    <% cache volunteer_role do %>
      <tr>
        <td><%= volunteer_role.name %></td>
        <td><%= volunteer_role.brief_description %></td>
        <td><%= volunteer_role.description %></td>
        <td><%= volunteer_role.priority %></td>
        <td><%= volunteer_role.hidden %></td>
        <td><%= link_to 'edit', edit_admin_event_volunteer_role_path(@event, volunteer_role) %></td>
        <td><%= link_to pluralize(volunteer_role.leads.count, 'lead'), admin_event_volunteer_role_volunteers_path(@event, volunteer_role) %></td>
        <td><%= link_to pluralize(volunteer_role.volunteers.count, 'volunteer'), event_volunteer_role_volunteers_path(@event, volunteer_role) %></td>
        <td><%= button_to 'destroy', admin_event_volunteer_role_path(@event, volunteer_role), method: :delete, data: {confirm: 'Are you sure? This is irreversible'} %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'Add new', new_admin_event_volunteer_role_path(@event) %>
