<h1>Volunteer roles</h1>

<table class="table">
  <% @volunteer_roles.each do |volunteer_role| %>
    <tr>
      <td><%= volunteer_role.name %></td>
      <td><%= volunteer_role.description %></td>
      <td><%= link_to 'edit', edit_admin_volunteer_role_path(volunteer_role) %></td>
      <td><%= link_to pluralize(volunteer_role.leads.count, 'lead'), admin_volunteer_role_volunteers_path(volunteer_role) %></td>
      <td><%= button_to 'destroy', admin_volunteer_role_path(volunteer_role), method: :delete, data: {confirm: 'Are you sure? This is irreversible'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add new', new_admin_volunteer_role_path %>
