<%= bootstrap_form_for [:admin, @user] do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :email %>
  <%= form.check_box :admin %>
  <%= form.check_box :early_access %>
  <%= form.check_box :marketing_opt_in %>
  <%= form.submit 'Update user details' %>
<% end %>

<div class="mt-3">
  <%= button_to 'Delete', admin_user_path(@user), method: :delete, data: {confirm: 'Are you sure? This is irreversible'}, class: "btn btn-danger" %>
</div>

<hr>

<% if @user.ticket_type == :direct %>
  Has direct sale
<% else %>
  <%= bootstrap_form_for [:admin, @user], url: give_direct_sale_admin_user_path(@user) do |form| %>
    <%= form.submit 'Give direct access' %>
  <% end %>
<% end %>
