<h2>Members</h2>

<p>There are currently <%= User.confirmed.count %> members</p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.created_at.to_s(:short) %></td>
    </tr>
  <% end %>
</table>

<%= paginate @users, theme: 'twitter-bootstrap-4' %>
