<h2>Unconfirmed Members</h2>

<p>There are currently <%= pluralize(@users.count, 'unconfirmed member') %></p>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Unconfirmed Duration</th>
    <th>Confirmation Info</th>
    <th>Delete</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= distance_of_time_in_words(Time.zone.now - user.created_at.to_time) %></td>
      <td>
        <% if user.confirmation_period_expired? %>
          <%= button_to 'Resend', resend_email_admin_user_path(user), method: :post, class: "btn btn-primary" %>
        <% else %>
          Last confirmation sent <%= distance_of_time_in_words(user.confirmation_sent_at.to_time - Time.zone.now) %> ago
        <% end %>
      </td>
      <td><%= button_to 'Delete', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure? This is irreversible'}, class: "btn btn-danger" %></td>
    </tr>
  <% end %>
</table>
