<!DOCTYPE html>
<html lang="en">
  <head>
    <title>London Decompression Membership</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if ENV['ENABLE_PLAUSIBLE_IO_ANALYTICS'] == true %>
      <%= javascript_include_tag "https://plausible.io/js/script.js", "data-turbo-track": "reload", defer: true, "data-domain": "#{ENV['HOST_NAME']}"%>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% unless Rails.env.production? %>
      <div class="alert alert-danger dev_notice" role="alert">
        This is a non-prod instance of the members website, changes are to be expected!
      </div>
    <% end %>
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-caption">
              <h1 class="page-title">London Decompression Membership</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-section">
      <div class="container">
        <div class="card-block bg-white mb30">
          <% if current_user %>
            <nav class="navbar navbar-expand-lg navbar-light logged_in_nav">
              <div class="container-fluid justify-content-end">
                <% if current_user.admin? %>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <% end %>
                <div class="<%= 'collapse navbar-collapse justify-content-end' if current_user.admin? %>" id="navbarSupportedContent">
                  <ul class="nav">
                    <li class="nav-item">
                      <%= link_to 'Home', root_path, class: 'nav-link' %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'Profile', edit_user_registration_path, class: 'nav-link' %>
                    </li>
                    <% if @event && (@event.active || current_user.admin?) %>
                      <li class="nav-item">
                        <%= link_to 'Volunteering', event_volunteering_index_path(@event), class: 'nav-link' %>
                      </li>
                    <% end %>
                    <% if current_user.admin? %>
                      <li class="nav-item">
                        <%= link_to 'Users', admin_users_path, class: 'nav-link' %>
                      </li>
                      <li class="nav-item">
                        <%= link_to 'Membership Codes', admin_membership_codes_path, class: 'nav-link' %>
                      </li>
                      <li class="nav-item">
                        <%= link_to 'Low Income Codes', admin_low_income_codes_path, class: 'nav-link' %>
                      </li>
                      <li class="nav-item">
                        <%= link_to 'Low Income Requests', admin_low_income_requests_path, class: 'nav-link' %>
                      </li>
                      <li class="nav-item">
                        <%= link_to 'Events', admin_events_path, class: 'nav-link' %>
                      </li>
                    <% end %>
                    <li class="nav-item">
                      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          <% end %>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <% if flash[:notice].present? %>
                <div class="alert alert-success" role="alert">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:alert].present? %>
                <div class="alert alert-warning" role="alert">
                  <%= flash[:alert] %>
                </div>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
