<!DOCTYPE html>
<html>
  <head>
    <title>LondonDecomMembership</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-caption">
              <h1 class="page-title">London Decompression Membership</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-section">
      <div class="container">
        <div class="card-block bg-white mb30">
          <% if current_user %>
            <div class="logged_in_nav">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <%= link_to t('.home'), root_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                  <%= link_to t('.profile'), edit_user_registration_path, class: 'nav-link' %>
                </li>
                <% if current_user.admin? %>
                  <li class="nav-item">
                    <%= link_to t('.users'), admin_users_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to t('.membership_codes'), admin_membership_codes_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to t('.low_income_codes'), admin_low_income_codes_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to t('.low_income_requests'), admin_low_income_requests_path, class: 'nav-link' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to t('.events'), admin_events_path, class: 'nav-link' %>
                  </li>
                <% end %>
                <li class="nav-item">
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
                </li>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <% if flash[:notice].present? %>
                <div class="alert alert-success" role="alert">
                  <%= flash[:notice] %>
                </div>
              <% end %>
              <% if flash[:alert].present? %>
                <div class="alert alert-warning" role="alert">
                  <%= flash[:alert] %>
                </div>
              <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
